.timer {
  display: flex;
  align-items: center;
  column-gap: calc(16px + 16 * (100vw - 320px) / 1600);
}

.timer-item {
  display: flex;
  justify-content: center;
  width: 1.8em;
  padding: 0.15em 0.1em;
  position: relative;

  font-size: calc(36px + 54 * (100vw - 320px) / 1600);
  font-weight: 700;
  color: #000;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.25);
  border-radius: 0.15em;
}

.timer-item {
  &:not(:last-child) {
    &::after {
      content: ':';
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);

      font-size: calc(55px + 55 * (100vw - 320px) / 1600);
      color: #000;
    }
  }
}

.timer-digit {
  width: 0.8em;

  font-size: calc(36px + 54 * (100vw - 320px) / 1600);
  font-weight: 700;
  color: #000;
  text-align: center;
}